body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #071629;
}

/* Header and Navbar*/
header {
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 20px 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-left: 0;
    padding-right: 60px;
    padding-bottom: 0;
    height: 29.46px;
}

.logo {
    height: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 80px;
    padding-left: 80px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}

/* Hero Section*/
.hero {
    position: relative;
    width: 1340px;
    height: 1093px;
    margin: 0 auto;
    background-image: url("project_images/Object.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 22, 41, 0.85);
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 100px;
    font-weight: bold;
    padding-top: 150px;
    margin-bottom: 1px;
}

.hero span {
    color:#ffffff;
    margin-left: 14px;
    margin-right: 18px;
    margin-top: 10px;
    margin-bottom: 0 auto;
}

.hero button {
    margin-top: 40px;
    padding: 20px 30px;
    font-size: 16px;
    color: #ffffff;
    background-color: #c271ff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/*Pros Section*/
.pros {
    position: relative;
    z-index: 1;
    margin-top: 60px;
}

.pros h2 {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 40px;
}

.pros-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.pros-grid div {
    text-align: center;
    width: 150px;
}

.pros-grid img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pros-grid h3 {
    margin: 10px 0 5px;
    font-size: 16px;
}

.pros-grid p {
    font-size: 12px;
    color: #cfcfcf;
}

.quote-container {
    display: flex;
    align-items: center;
    background-color: #c271ff;
    color: #ffffff;
    gap: 5px;
    height: 392px;
    width: 1340px;
}

.quote-container img {
    width: 160px;
    height: 160px;
    padding-left: 150px;
}

.quote-content {
    display: flex;
    flex-direction: column;
}

.quote {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.name {
    font-weight: bold;
    margin-top: 10px;
    text-indent: 40px;
}

.title {
    color: #ffffff;
    font-size: 0.9em;
    text-indent: 40px;
}

.popular-tutorials {
  background-color: #ffffff;
  color: #000000;
  padding: 60px 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.popular-tutorials h2 {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
  color: #000000;
}

.text-color {
    color: #c271ff;
}

.tutorials-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.tutorial-card {
  background-color: #ffffff;
  color: #000000;
  border-radius: 12px;
  width: 270px;
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tutorial-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.tutorial-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
}

.tutorial-card p {
  font-size: 14px;
  color: #555;
}

.play-button {
    position: absolute;
    padding-top: 50px;
    padding-left: 100px;
    opacity: 0.8;
    cursor: pointer;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  color: #c271ff;
}

.author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.author h4 {
  font-size: 14px;
  margin: 0;
}

.stars {
  display: flex;
  gap: 5px;
  margin: 0;
}

.duration {
  font-size: 12px;
  color: #888;
  text-align: right;
  margin-top: auto;
}
